

table{
  font-size: 36px;
  width: 100%;
  text-align: center;
}

th{
  padding: 5px;
  background-color: #ddd;
  width: 33%;
}

.button{
  border: 5px solid black;
  text-align: center;
  font-size: 70px
}

.statsButton{
  border: 5px solid black;
  text-align: center;
  font-size: 50px
}

.title{
  text-align: center;
  font-size: 60px
}

.text{
  text-align: center;
  font-size: 48px;
  padding: 30px;
}

.win{
  font-size: 96px;
  color: #00cc00;
}

.lose{
  font-size: 96px;
  color: #cc0000;
}
