html, body {
  overflow-y: hidden;
}

table{
  font-size: 25px
}

.button{
  border: 5px solid black;
  text-align: center;
  font-size: 70px
}

.title{
  text-align: center;
  font-size: 60px
}

.text{
  text-align: center;
  font-size: 20px;
}

.intro-text{
  text-align: center;
  font-size: 30px;
}

